# Ignore everything by default.
/*

# To be extra sure, ignore everything that's private.
/private

# Include this file.
!/.gitignore

# Include the bootstrap file.
!/init.el

# Include the literate org-mode files.
!*.org
